li{
    
    display: inline-block;
}
.grid-container{
    display: grid;
    padding-bottom: 75px;
}
.nav1{
    grid-column-start: 1;
    grid-column-end: 2;
}
.nav2{
    grid-column-start: 2;
    grid-column-end: 3;
}
.nav3{
    grid-column-start: 3;
    grid-column-end: 4;
}
.nav4{
    grid-column-start: 4;
    grid-column-end: 5;
}
.menu{
    position: relative;
    display: inline-block;
    grid-column-start: 5;
    grid-column-end: 6;
    padding-bottom: 25px;
}
.content{
    display: none;
    position: absolute;
    z-index: 1;
    padding: 10px;
}
.content a{
    display: block;
    padding: 10px;
}
.menu:hover .content {
    display: block;
    padding: 10px;
}
.content:hover {
    display: block;
    padding: 10px;
}
.content a:hover{
    display: block;
    padding: 10px;
}
