li{
    margin: 15px;
    margin-bottom: 100px;
    padding: 5px;
    border: 5px;
    border-color:black;
    border-style: solid;
    display: inline-block;
}
.menu{
    position: relative;
    display: inline-block;
}
.content{
    display: none;
    position: absolute;
    z-index: 1;
}
.content a{
    display: block;
}
.menu:hover .content {
    display: block;
}
.content:hover {
    display: block;
}
.content a:hover{
    display: block;
}
