h1 {
    color: #000099;
}
.RewriteP1::first-letter{
    font-size: 150%;
    color: #000099;
}
.Rewrite{
    text-align: center;
    width: auto;
    padding: 25px;
    margin: auto;
}
.RewriteP1{
    
}
.RewriteP2{
    text-indent: 25px;
}
.RewriteP3{
    text-indent: 25px;
}
.about{
    text-align: center;
    width: auto;
    padding: 25px;
    margin: auto;
}
.index{
    text-align: center;
    width: auto;
    padding: 25px;
    margin: auto;
}