@font-face {
    font-family: Tapestry;
    src: url(Tapestry-Regular.ttf);
}
h1 {
    color: #000099;
}
.RewriteP1::first-letter{
    font-size: 150%;
    color: #000099;
}
.Rewrite{
    display: grid;
    font-size: x-large;
}
.header{
    text-align: center;
    font-size: xx-large;
}
.RewriteP1{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    border: 5px solid black;
}
.RewriteP2{
    
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    border: 5px solid black;
}
.RewriteP3{
    
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    border: 5px solid black;
}
.RewriteP4{
    
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
    border: 5px solid black;
}
.name{
    text-align: center;
}
.home{
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: x-large;
}
.opening{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    border: 5px solid black;
}
.purpose{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    border: 5px solid black;
}
.index{
    text-align: center;
}
.about{
    display: grid;
    grid-template-columns: 425px 500px auto auto;
    grid-template-rows: auto auto auto auto;
}
.me{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    border: 5px solid black;
    
}
.overview{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    border: 5px solid black;
}
.quote{
    text-align: center;
    font-family: Tapestry, sans-serif;
    font-size: x-large;
}
.my-picture{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    max-width: 500px;
    max-height: 500px;

}
.my-video{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    max-width: 500px;
}
@media print{
    .name{
        color: black;
        font-family: 'Times New Roman', Times, serif;
    }
    .me{
        color: black;
        font-family: 'Times New Roman', Times, serif;
        width: 350px;
    }
    .overview{
        color: black;
        font-family: 'Times New Roman', Times, serif;
        width: 350px;
    }
    .quote{
        color: black;
        font-family: 'Times New Roman', Times, serif;
        width: 150px;
    }
    .footer{
        color: black;
        font-family: 'Times New Roman', Times, serif;
    }
    @page{
        margin: 1in;
    }
    
}
footer{
    background-image: url("images/Auriel.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.email:hover{
    transform: scale(1.5);
}
.phone:hover{
    transform: scale(1.5)
}
.project1{
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto;
}
.p1head{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    
}
.p1text{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: x-large;
    border: 5px solid black;
}
.p1pic{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    
    width: 100%;
    height: auto;
}
.project2{
    display:grid;
    grid-template-columns: 600px auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
}
.p2head{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    
}
.p2text{
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    padding-right: 50px;
    font-size: x-large;
    border: 5px solid black;
    
}
.p2pic{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    max-height: 500px;
    max-width: 500px;
    width: 100%;
    height: auto;
}
.p2pic2{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
    max-height: 500px;
    max-width: 500px;
    width: 100%;
    height: auto;
    padding-left: 50px;
}
.project3{
    display: grid;
    grid-template-columns:  400px auto auto auto 400px;
    grid-template-rows: auto auto auto auto;
}
.p3head{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
    
    
}
.p3text{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
    font-size: x-large;
}
.p3pic{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    align-content: center;
    
    width: 100%;
    height: auto;
}
@media screen and (max-width: 900px){
    .contact{
        width: 100%;
    }
    .project1{
        display:grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto;
    }
    .p1text{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 5;
        font-size: x-large;
    }
    .p1pic{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 5;
        
        width: 100%;
        height: auto;
    }
    .project2{
        display:grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
    }
    .p2text{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 5;
        
    }
    .p2pic{
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 5px;
        max-width: 250px;
        max-height: 250px;
    }
    .p2pic2{
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column-start: 3;
        grid-column-end: 5;
        padding: 5px;
        max-width: 250px;
        max-height: 250px;
    }
    .project3{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto auto;
    }
    .Rewrite{
        display: grid;
    }
    .home{
        display: grid;
        
    }
    .quote{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 4;
        font-family: Tapestry, sans-serif; 
    }
    .purpose{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .overview{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 4;
        
    }
    .about{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
    }
    .me{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        border: 5px solid black;
        
    }
    .overview{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 4;
        
    }
    .my-picture{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
        width: 100%;
        height: auto;
    
    }
    .my-video{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 3;
        grid-column-end: 4;
        width: 100%;
        height: auto;

    }
    .RewriteP2{
        text-indent: 25px;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .RewriteP4{
        text-indent: 25px;
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 3;
        grid-column-end: 4;
    }

}
.contact{
    width: 100%
}